@using Portal.Helpers;
@{
    var poll_us = 0;
    var date = ViewBag.DataProposal.POLLING_FULL_DATE_NAME.ToString().Replace("<br>", " ");
    int no = 1;
}

@if (Session["USER_ID"] != null)
{  

    <style type="text/css">
        .comment-list .row {
            margin-bottom: 0px;
        }

        .comment-list .panel .panel-heading {
            padding: 4px 15px;
            position: absolute;
            border: none;
            /*Panel-heading border radius*/
            border-top-right-radius: 0px;
            top: 1px;
        }

            .comment-list .panel .panel-heading.right {
                border-right-width: 0px;
                /*Panel-heading border radius*/
                border-top-left-radius: 0px;
                right: 16px;
            }

            .comment-list .panel .panel-heading .panel-body {
                padding-top: 6px;
            }

        .comment-list figcaption {
            /*For wrapping text in thumbnail*/
            word-wrap: break-word;
        }

        .comment-list .comment-post {
            margin-top: 6px;
        }

        .panel-body {
            padding: 15px 15px 0;
        }

        .ganjil {
            background: #fcf8e3 none repeat scroll 0 0;
        }
    </style>

    <div class="container">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0);">E-Ballot</a></li>
            <li class="active">Jajak Pendapat</li>
        </ul>

        <div class="row margin-bottom-40">


            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-comments"></i>Jajak Pendapat
                        </div>
                    </div>
                    <div class="portlet-body" style='padding: 10px 10px 1px;'>
                        <form class="form form-horizontal form-bordered" role="form" id="frmRegistrasi" method="post" enctype="multipart/form-data">
                            @if (@ViewBag.Error != "")
                            { 
                                <div class="form-group">
                                    <label class="col-md-4 control-label" style="color: #FF655F; text-align: left;"><i class="fa fa-info-circle"></i>@ViewBag.Error</label>
                                </div>
                            }
                            <div class="form-group">
                                <label for="inputEmail1" class="col-md-2 control-label"><strong>Kode PNPS</strong></label>
                                <div class="col-md-10">
                                    <span class="form-control-static">
                                        @ViewBag.DataProposal.PROPOSAL_NO_SNI_PROPOSAL
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-md-2 control-label"><strong>Komite Teknis</strong></label>
                                <div class="col-md-10">
                                    <span class="form-control-static">
                                        @ViewBag.DataProposal.KOMTEK_CODE @ViewBag.DataProposal.KOMTEK_NAME
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-md-2 control-label"><strong>Judul PNPS</strong></label>
                                <div class="col-md-10">
                                    <span class="form-control-static">
                                        @ViewBag.DataProposal.PROPOSAL_JUDUL_PNPS
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-md-2 control-label"><strong>Ruang Lingkup</strong></label>
                                <div class="col-md-10">
                                    <span class="form-control-static">
                                        @ViewBag.DataProposal.PROPOSAL_RUANG_LINGKUP
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail1" class="col-md-2 control-label"><strong>Attachment</strong></label>
                                <div class="col-md-10">

                                    @if (ViewBag.doc_rsni3.DOC_FILE_PATH != "" && ViewBag.doc_rsni3.DOC_FILE_PATH != null) 
                                    {
                                        <div class="help-block">
                                            <a class="form-control-static" href="@(ViewBag.link.LINK_NAME.TrimEnd('/'))@(ViewBag.doc_rsni3.DOC_FILE_PATH)@(ViewBag.doc_rsni3.DOC_FILE_NAME).pdf" target="_blank" style="color:green;">Download Data RSNI</a>
                                        </div>   
                                    }
                                    else
                                    {
                                        <div class="help-block">
                                            <p>No Attachment</p>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="blog-item text-right">
                                <ul class="blog-info" style='margin: 10px 0;'>
                                    <li><i class="fa fa-user"></i>@Session["USER_FULL_NAME"]</li>
                                    <li><i class="fa fa-calendar"></i>@date</li>
                                    <li><i class="fa fa-clock-o"></i>@ViewBag.DataProposal.POLLING_MONITORING_NAME</li>
                                    <li><i class="fa fa-comments"></i>@ViewBag.JML_POLLING</li>
                                </ul>
                            </div>
                            <div class='form-group'>
                                <div class="col-md-12">
                                    <article class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="panel panel-default arrow left">

                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <input type="hidden" name="POLLING_DETAIL_POLLING_ID" value="@ViewBag.POLLING_ID" />
                                                        <input type="hidden" name="PROPOSAL_ID" value="@ViewBag.DataProposal.PROPOSAL_ID" />
                                                        <label class="col-md-2 control-label"><strong>Tipe Komentar</strong></label>
                                                        <div class="col-md-10" style="padding-left: 0px;">
                                                            <div class="radio-list">
                                                                <label class="radio-inline">
                                                                    <input type="radio" class="opsi" name="POLLING_DETAIL_OPTION" id="POLLING_DETAIL_OPTION1" value="1" checked>
                                                                    Editorial
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" class="opsi" name="POLLING_DETAIL_OPTION" id="POLLING_DETAIL_OPTION2" value="2">
                                                                    Substansial</label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" class="opsi" name="POLLING_DETAIL_OPTION" id="POLLING_DETAIL_OPTION3" value="3">
                                                                    Lainnya
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label" id="labelPasal" style="font-weight:bold">Pasal</label>
                                                        <div id="pasalCol" class="col-md-1">
                                                            <input type="text" class="form-control wajib" name="POLLING_DETAIL_PASAL" id="POLLING_DETAIL_PASAL" onkeypress="return isNumberKey(event)">
                                                            <input type="hidden" class="form-control" name="POLLING_DETAIL_POLLING_ID" id="POLLING_DETAIL_POLLING_ID" value="@ViewBag.DataProposal.POLLING_ID">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <textarea id="komentar" name="POLLING_DETAIL_REASON" class=""></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <span>Lampiran Pendapat : </span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <input type="file" name="POLLING_FILE" accept=".pdf,application/pdf" onchange="ValidasiInput(this)" />
                                                            <span style="color:red;font-style:italic">File yang upload harus PDF</span>
                                                        </div>
                                                    </div>

                                                    <div class='form-group'>

                                                        <div class="col-md-4">
                                                            <div class='input-group-addon' style="text-align: left; width: 40%; background-color: #eee">
                                                                <img alt="Captcha" id="showchaptcha" src="/Auth/CaptchaImage" style="" />
                                                            </div>
                                                            <div class='input-group-addon' style="width: 60%; background-color: #eee">
                                                                <input type='text' style="padding: 13px 0px 0px 6px; font-size: 18px;" class='form-control' name='jawaban' id='jawaban' placeholder='Jawaban' autocomplete='off' />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <button class='btn btn-success' type='submit' id="kirim_dulu">Kirim Pendapat</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </article>
                                    <div class="col-md-12">
                                        @TempData["NotifikasiText"]
                                    </div>
                                </div>

                            </div>
                            <div class="blog-item text-right">
                                <ul class="blog-info" style='margin: 10px 0;'>
                                    <li style='color: #e84d1c'><i class="fa fa-comments"></i>Daftar Komentar</li>
                                </ul>
                            </div>
                            <div class='form-group'>
                                <div class="col-md-12">
                                    @foreach (var dt in @ViewBag.jp_list)
                                    {
                                        var ganjil = "";
                                        var edit = "";
                                        var no_row = "baris"+ dt.POLLING_DETAIL_ID;
                                        if (no % 2 == 1)
                                        {
                                            ganjil = "ganjil";
                                        }
                                        if (dt.POLLING_DETAIL_CREATE_BY == Convert.ToInt32(Session["USER_ID"].ToString()))
                                        {
                                            edit = "<a href='/EBallot/EditJajakPendapat/" + dt.POLLING_DETAIL_ID + "' ><i class='fa fa-pencil'></i> edit</a><br /><br />";
                                        }
                                        <article class="row" id="@no_row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="panel panel-default arrow left">
                                                    <div class="panel-body @ganjil">
                                                        <header>
                                                            <div class='text-left col-sm-6' style="padding-left: 0px;">
                                                                <div class="comment-user"><i class="fa fa-user"></i>@dt.USER_PUBLIC_NAMA_LENGKAP</div>
                                                                <time class="comment-date" datetime="@dt.POLLING_DETAIL_CREATE_DATE"><i class="fa fa-clock-o"></i>@dt.POLLING_DETAIL_CREATE_DATE </time>
                                                                <div class="comment-user"><i class="fa fa-check-square-o"></i>@dt.PILIHAN</div>
                                                            </div>
                                                            <div class='text-right col-sm-6' style="padding-right: 0px;">
                                                                @if (dt.POLLING_DETAIL_OPTION == 1 || dt.POLLING_DETAIL_OPTION == 2)
                                                                {
                                                                    <a class="icon-btn" href="javascript:;" style='font-weight: bold; font-size: 16px; height: 50px; padding: 5px 0 0;'>
                                                                        @dt.POLLING_DETAIL_PASAL<div>PASAL</div>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="icon-btn" href="javascript:;" style='font-weight: bold; font-size: 16px; height: 50px; padding: 5px 0 0;'>
                                                                        @dt.POLLING_DETAIL_PASAL<div>TOPIK</div>
                                                                    </a>
                                                                }

                                                            </div>
                                                        </header>

                                                        <div class='clearfix'></div>
                                                        <div class="comment-post" style='padding-top: 10px;'>
                                                            @Html.Raw(dt.POLLING_DETAIL_REASON)
                                                            @if (dt.POLLING_DETAIL_FILE_PATH != "" && dt.POLLING_DETAIL_FILE_PATH != null)
                                                            {
                                                                <label class="form-control-static"><a class="" href="@(ViewBag.link.LINK_NAME.TrimEnd('/'))@(dt.POLLING_DETAIL_FILE_PATH)" target="_blank" style="color:green;">Lampiran Komentar</a></label><br>
                                                            }
                                                            @Html.Raw(edit)

                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                        no++;

                                    }

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    jQuery(document).ready(function () {
        CKEDITOR.disableAutoInline = true;
        CKEDITOR.config.toolbar_MA = [['Bold', 'Italic', 'Underline', '-', 'Superscript', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Undo', 'Redo', 'RemoveFormat', '-', 'Link', 'Unlink', 'Anchor', '-', 'Image']];
        CKEDITOR.replace('POLLING_DETAIL_REASON',
            { toolbar: 'MA', height: '150px', skin: 'office2013' }
         );

        $('#kirim_dulu').click(function () {
            var value = CKEDITOR.instances['komentar'].getData();
            if (value == "") {
                alert("Isi Komentar harus diisi");
                return false;
            }
        });

    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;

    }
    $('input[type=radio][name=POLLING_DETAIL_OPTION]').change(function () {
        if (this.value == 1 || this.value == 2) {
            $("#POLLING_DETAIL_PASAL").attr("onkeypress", "return isNumberKey(event)");
            $("#pasalCol").removeAttr("class");
            $("#pasalCol").attr("class", "col-md-1");
            $("#labelPasal").text("Pasal");
            $("#POLLING_DETAIL_PASAL").val("");
        }
        else if (this.value == 3) {
            $("#POLLING_DETAIL_PASAL").removeAttr("onkeypress");
            $("#pasalCol").removeAttr("class");
            $("#pasalCol").attr("class", "col-md-4");
            $("#labelPasal").text("Topik");
            $("#POLLING_DETAIL_PASAL").val("");
            //$("#labelPasal").css("font-weight", "Bold");
        }
    });
    $("#POLLING_DETAIL_PASAL").change(function () {
        var POLLING_DETAIL_POLLING_ID = $("#POLLING_DETAIL_POLLING_ID").val();
        var POLLING_DETAIL_PASAL = $("#POLLING_DETAIL_PASAL").val();
        var POLLING_DETAIL_OPTION = 1;
        $(".opsi").each(function () {
            if (this.checked) {
                POLLING_DETAIL_OPTION = $(this).val();
            }
        });
        $.ajax({
            url: '@Url.Action("cekdata")',
            type: "POST",
            data: 'POLLING_DETAIL_POLLING_ID=' + POLLING_DETAIL_POLLING_ID + '&POLLING_DETAIL_PASAL=' + POLLING_DETAIL_PASAL + '&POLLING_DETAIL_OPTION=' + POLLING_DETAIL_OPTION,
            success: function (data) {
                if (data.status != 0) {
                    alert("Pendapat mengenai nomor pasal dan tipe komentar yang dipilih telah di tambahkan sebelumnya. Untuk menambahkan komentar di pasal dan tipe komentar yang sama silahkan edit dikomentar yang sudah ada sebelumnya");
                    $("#POLLING_DETAIL_PASAL").val("");
                    $('#baris' + data.row_id).attr("tabindex", -1).focus();
                    //$('html, body').animate({ scrollTop: $('#baris' + data.row_id).offset().top }, 'slow');
                    return false;
                }
                
            },
            error: function () {
                alert("Gagal");
            }
            
        });
    });
        $(".opsi").click(function () {
            var POLLING_DETAIL_POLLING_ID = $("#POLLING_DETAIL_POLLING_ID").val();
            var POLLING_DETAIL_PASAL = $("#POLLING_DETAIL_PASAL").val();
            var POLLING_DETAIL_OPTION = 1;
            $(".opsi").each(function () {
                if (this.checked) {
                    POLLING_DETAIL_OPTION = $(this).val();
                }
            });
            $.ajax({
                url: '@Url.Action("cekdata")',
                type: "POST",
                data: 'POLLING_DETAIL_POLLING_ID=' + POLLING_DETAIL_POLLING_ID + '&POLLING_DETAIL_PASAL=' + POLLING_DETAIL_PASAL + '&POLLING_DETAIL_OPTION=' + POLLING_DETAIL_OPTION,
                success: function (data) {
                    if (data.status != 0) {
                        alert("Pendapat mengenai nomor pasal dan tipe komentar yang dipilih telah di tambahkan sebelumnya. Untuk menambahkan komentar di pasal dan tipe komentar yang sama silahkan edit dikomentar yang sudah ada sebelumnya");
                        $("#POLLING_DETAIL_PASAL").val("");
                        $('#baris' + data.row_id).attr("tabindex", -1).focus();
                        return false;
                    }
                }
            });

        });
    var _validFileExtensions = [".pdf"];
    function ValidasiInput(ini) {
        var arrInputs = $(ini);
        for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
            if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }

                    if (!blnValid) {
                        alert("Maaf, " + sFileName + " tidak dapat di Upload, Extensi yang dapat di Upload adalah : " + _validFileExtensions.join(", "));
                        $(ini).val('');
                        return false;
                    }
                }
            }
        }

        return true;
    }

        //function sethakpaten() {
        //    var value = $('input[name="POLLING_OPTION"]:checked').val();
        //    if (value == 1) {
        //        $('.PROPOSAL_IS_HAK_PATEN_DESC').slideDown();
        //    } else {
        //        $('.PROPOSAL_IS_HAK_PATEN_DESC').slideUp();
        //        $('#PROPOSAL_IS_HAK_PATEN_DESC').val('');
        //    }
        //}
</script>
