@{
    ViewBag.Title = "Reset Password";
}

<div class="container">
    <ul class="breadcrumb">
        <li><a href="@Url.Content("~/")">Beranda</a></li>
        <li class="active">Lupa Password?</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
                <li class="list-group-item clearfix"><a href="javascript:;" onclick="window.location='@Url.Content("~/auth/index")'"><i class="fa fa-angle-right"></i>Login Member</a></li>
               <li class="list-group-item clearfix"><a href="javascript:;" onclick="window.location='@Url.Content("~/main/register")'"><i class="fa fa-angle-right"></i>Daftar Akun</a></li>
               @*<li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i>My account</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i>Address book</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i>Wish list</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i>Returns</a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i>Newsletter</a></li>*@
            </ul>
        </div>
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div class="col-md-9 col-sm-9">
            <h1>Forgot Your Password?</h1>
            <div class="content-form-page">
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <form class="form-horizontal" id="frmRegistrasi" role="form" method="post">
                            <div class="form-body">
                                @if (@ViewBag.Error != "")
                                {
                                    <div class="form-group">
                                        <label class="col-md-12 col-md-offset-4 control-label" style="color: #FF655F; text-align: left;">@ViewBag.Error</label>
                                    </div>
                                }
                                @if (@ViewBag.Success != "")
                                {
                                    <div class="form-group">
                                        <label class="col-md-8 col-md-offset-4 control-label" style="color: #FF655F; text-align: left;">@ViewBag.Success</label>
                                    </div>
                                }
                                <div class="form-group">
                                    @*<label for="firstname" class="col-lg-4 control-label">No. KTP<span class="require">*</span></label>
                                        <div class="col-lg-8">
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" class="form-control wajib" maxlength="16" name="USER_PUBLIC_KTPSIM" id="ktpsim" placeholder="Masukan NIK KTP">
                                            </div>
                                        </div>*@

                                    <label for="lastname" class="col-lg-4 control-label">Username <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="text" class="form-control wajib" id="username" name="USER_NAME" placeholder="Nama user akun">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail12" class="col-lg-4 control-label">Email<span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            <input type="email" class="form-control wajib" id="inputEmail12" name="USER_PUBLIC_EMAIL" placeholder="Alamat email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-5">
                                        <button type="submit" class="btn btn-primary">Ubah Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-5 col-sm-5 pull-right">
                        <div class="form-info">
                            <h2><i class="fa  fa-bullhorn"></i>&nbsp;&nbsp;<em>Informasi</em> Penting</h2>
                            <p>Masukkan Username dan Email anda yang sudah anda daftarkan di sistem kami. Maka kami akan mengirimkan link/tautan ke email anda untuk merubah password. Terimakasih</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
</div>
